<% content_for(:head) do %>
<%= javascript_include_tag 'map/mapFunctions.js' %>
<%= javascript_include_tag 'map/createMap.js' %>
<%= javascript_include_tag 'map/viewMap.js' %>
<% end %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA1XdOyTrhnTo0ys0MWXVs3YXisqiC6Vyk&sensor=false"></script>

<style>
	#toCopy {
		display: none;
	}

	html { height: 100%; }
	body { height: 100%; margin: 0; padding: 0 }
	#map_canvas { height: 100% }

	#deleteMarkerButton, #markerToggler {
		display: block;
		height: 60px;
		width: 248px;
		float: left;
		background: #CCC;
		border: 1px solid #333;
		line-height: 55px;
		text-align: center;
		color: #000;
		text-decoration: none;
	}

	#deleteMarkerButton {
		border-left: 0px;
		margin-left: 1px;
	}

	#listing {
		position: relative;
		color: #fff;
	}

	#listingForm .singleField {
		width: 200px;
		
		margin: 0 0 10px 0;
		
	}

	#saveMarkers {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
</style>
<div id="container" style="width: 950px; overflow: hidden; background:#333;">




	<div style="width: 500px; height: 500px; float:left; position: relative;">
		<a href="javascript: void(0);" id="markerToggler">Start met locaties plaatsen</a>
		<a href="javascript: void(0);" onClick="deleteLastWaypoint();" id="deleteMarkerButton">Verwijder laatste punt</a>
		<div id="map_canvas" style="width:100%; height:100%"></div>
		<div style="position: absolute; left: 0px; bottom: 0px; height: 100px; width: 75px; background:#FFF">
			Geschatte KM:<br>
			<span id="estKm">1</span>
		</div>
	</div>

	<div id="listing" style="width:200px; overflow:hidden; float: left;">
		<div id="creationBlock">
			<input type="checkbox" value="1" id="notitle"> Geen titel maken <br>
			<input type="checkbox" value="1" id="snapRoad"> Weg volgen
			<%= form_for @trip, :html => {:id => 'listingForm'} do |a| %> 
				<%#= a.label "Routetitel" %>
				<%#= a.text_field :title %>
				<%= a.fields_for :triplocations do |f| %>
					<p class="locations" id="toCopy">
						<%= f.label :title, 'Titel:' %>
						<%= f.text_field :title, :id => 'titleField' %>
						
						<%= f.label :description, 'Omschrijving:' %>
						<%= f.text_field :description , :id => 'descriptionField'%>
						
						<%= f.hidden_field  :latlng, :id => 'latlngField' %>
					</p> 
					<div id="inputFields"></div>

				<% end %>
				
				<p><%#= link_to_add_fields "Add Loc", a%></p>

				

				<%= a.submit 'Verstuur', :id => 'saveMarkers' %>
			<% end %>
		</div>
		<div id="detailsBlock"></div>
	</div>
</div>

<script>
jQuery(function() {
	getLocation();
});
</script>